@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-svg-core/styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}
html {
  overflow-x: hidden;
}
